*,
*:before,
*:after {
  box-sizing: border-box;
  outline: none;
}
body{
  background-color: #B0B0B0;
}
  html, body, nav, header, footer, span,
  h1, h2, h3, p,
  a, img,
  ul, li,
  table, form, label, input, textarea, select, button, figure {
    margin: 0;
    padding: 0;
    border: 0;
  }
  ul, li {
    list-style: none;
  }
  button:hover {
    cursor: pointer;
  }
  a {
    text-decoration: none;
  }
  img, svg, span, a {
    display: block;
  }
  img, svg {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
h1, h2, h3{
  color: white;
  font-family: 'Neue';
  font-weight: lighter;
  text-transform: uppercase;
}
p{
  font-family: 'Poppins';
}
.hide{
  overflow: hidden;
}
.overflow-x{
  overflow-x: hidden;
}
.w-90{
  width: 90%;
  margin: auto;
}