*{
  scrollbar-width: none;
}
body{
  background-color: #AB43D0;
}
::selection{
  background-color: #df603c;
}
::-webkit-scrollbar{
  display: none;
}
  html, body, nav, header, footer, span,
  h1, h2, h3, p,
  a, img,
  ul, li,
  table, form, label, input, textarea, select, button, figure {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  ul, li {
    list-style: none;
  }
  button{
    background-color: transparent;
    border: none;
    outline: none;
  }
  button:hover {
    cursor: pointer;
  }
  a {
    text-decoration: none;
  }
  img, picture, svg, span, a {
    display: block;
  }
  img, svg {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
.bg-transition{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.hide{
  overflow: hidden;
}
.overflow-x{
  overflow-x: hidden;
}
.parallax{
  height: 100%;
  @include tablet{
    height: 120%;
  }
}
.w-90{
  width: 90%;
  margin: auto;
}