@mixin centerObs($top, $left, $x, $y){
    position: absolute;
    top: $top;
    left: $left;
    transform: translate($x,$y);
}
@mixin after ($top, $left){
    content: '';
    position: absolute;
    top: $top;
    left: $left;
}
%centerFlex{
    display: flex;
    justify-content: center;
    align-items: center;
}
%flex_between{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin phone {
    @media (min-width: 768px) {
      @content;
    }
  }

@mixin tablet {
    @media (min-width: 992px) {
      @content;
    }
  }

  @mixin laptop {
    @media (min-width: 1200px) {
      @content;
    }
  }