h1, h2, h3, .nbr, .project__nbr{
    color: white;
    font-family: "Mongoose";
    font-weight: lighter;
    text-transform: uppercase;
  }

 .title-primary{
    font-size: 5rem;
    line-height: 0.85;
    @include phone {
        font-size: 7rem;
      }
      @include laptop {
        font-size: 14vw;
      }
  }
h2{
  font-size: 5rem;
  @include phone {
    font-size: 7rem;
  }
  @include laptop {
    font-size: 10vw;
  }
}
h3, .nbr, .project__nbr{
  font-size: 2rem;
  @include phone {
    font-size: 3rem;
  }
  @include laptop {
    font-size: 3.5vw;
  }
}
p, .link-project, .btn-back, .project__link, .scroll-down, .nbr-images{
    font-family: 'Poppins';
    color: white;
    font-size: 1rem;
    @include laptop{
      font-size: 1.2vw;
    }
}