h1, h2, .nbr-project, .project__nbr{
    color: #F92E2D;
    font-family: "Mongoose";
    font-weight: lighter;
    text-transform: uppercase;
  }

 .title-primary{
    font-size: 5rem;
    line-height: 0.85;
    @include phone {
        font-size: 7rem;
      }
      @include laptop {
        font-size: 14vw;
      }
  }
h2{
  font-size: 5rem;
  @include phone {
    font-size: 7rem;
  }
  @include laptop {
    font-size: 10vw;
  }
}
p, .link-project, .btn-error, .project__link, .project__nbr{
  font-family: 'Poppins';
  color: #F92E2D;
}
h3, .nbr, .project__nbr{
  font-size: 1.3rem;
  @include phone {
    font-size: 1.5rem;
  }
  @include laptop {
    font-size: 1.8vw;
  }
}
p, .link-project, .project__link, .btn-error{
    font-size: 1rem;
    @include laptop{
      font-size: 1.2vw;
    }
}